header{
  background-color: rgb(28, 20, 75);
  color: white;
  position: fixed;
  margin-top: 0 !important;
  left: 0;
  right: 0;
  z-index: 1024;
  margin-bottom: 1.5rem!important;
}
.mb-3{
  margin-top: 0 !important;
 
}

.bars{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.light {
  background-color: rgb(236, 234, 255);
}

.light a {
  color: rgb(23, 16, 65) !important;
}

.dark {
  background-color: rgb(23, 16, 65);
}

.dark a {
  color: rgb(236, 234, 255) !important;
}

